html, body
  height 100%
  width 100%
  margin 0
  padding 0

html, body, #app, .text-area
  width 100%
  height 100%

#app
  width 100%
  height 100%
  .text-area
    position relative
    textarea
      position absolute
      height 1px
      width 1px
      opacity 0
    .line
      min-height 16px
      background-color rgba(185, 188, 175, 0.12)
    .cursor
      position absolute
      height 16px
      width 2px
      background-color gray
      top 0